# Future Backtester

In [12]:
%matplotlib qt
import numpy as np
import pandas as pd
from typing import List, Dict, Optional, Tuple
import matplotlib.pyplot as plt
import backtester as Btester
import strategies as stg
import importlib
importlib.reload(Btester)
importlib.reload(stg)

In [4]:
priceDF = pd.read_csv("ES_1day_adjusted.csv" , parse_dates=["Datetime"])
priceDF = priceDF[priceDF["Datetime"] < "2022-01-01"]
ohlc = priceDF[["Open" , "High" , "Low" , "Close"]].to_numpy()
datetime = priceDF["Datetime"].values
priceDF.head()

             Datetime     Open     High      Low    Close   Volume
0 2016-01-04 04:30:00  2447.25  2453.00  2389.75  2419.00  2209570
1 2016-01-05 04:30:00  2418.50  2426.50  2401.75  2419.75  1685544
2 2016-01-06 04:30:00  2420.25  2422.75  2380.00  2396.25  2210224
3 2016-01-07 04:30:00  2397.25  2400.50  2338.00  2344.00  2957401
4 2016-01-08 04:30:00  2346.00  2374.25  2319.50  2322.75  2680455

In [5]:
positionSizes =  stg.turtleTradeSignals(ohlc[: , 3] , high_value=35 , low_value= 20 , max_pyramiding=3  , allow_short=False)
# plt.plot(datetime , positionSizes)

pf , tradeSheet , cash = Btester.calculate_portfolio(
    position_size=positionSizes , 
    ohlc = ohlc ,
    timestamps= datetime, 
    initial_capital=6.4e4  ,
    margin = 0.1 ,
    maintenance_margin_ratio= 0.6 , 
    slippage = 0.005 , 
    multiplier= 50 , 
    default_qty= 1 
)

In [13]:
stg.plot_portfolio_growth(pf , datetime , )

In [42]:
tradeSheet

    open_idx  close_idx  ...          entry_time           exit_time
0         40         92  ... 2016-03-02 04:30:00 2016-05-16 03:30:00
1         41         92  ... 2016-03-03 04:30:00 2016-05-16 03:30:00
2         42         92  ... 2016-03-04 04:30:00 2016-05-16 03:30:00
3        102        121  ... 2016-05-31 03:30:00 2016-06-27 03:30:00
4        105        121  ... 2016-06-03 03:30:00 2016-06-27 03:30:00
5        107        121  ... 2016-06-07 03:30:00 2016-06-27 03:30:00
6        130        174  ... 2016-07-11 03:30:00 2016-09-12 03:30:00
7        131        174  ... 2016-07-12 03:30:00 2016-09-12 03:30:00
8        132        174  ... 2016-07-13 03:30:00 2016-09-12 03:30:00
9        221        306  ... 2016-11-16 04:30:00 2017-03-22 03:30:00
10       223        306  ... 2016-11-18 04:30:00 2017-03-22 03:30:00
11       225        306  ... 2016-11-22 04:30:00 2017-03-22 03:30:00
12       330        380  ... 2017-04-26 03:30:00 2017-07-07 03:30:00
13       332        380  ... 2017-04-28 03:30:00 2017-07-07 03:30:00
14       338        380  ... 2017-05-08 03:30:00 2017-07-07 03:30:00
15       386        405  ... 2017-07-17 03:30:00 2017-08-11 03:30:00
16       387        405  ... 2017-07-18 03:30:00 2017-08-11 03:30:00
17       388        405  ... 2017-07-19 03:30:00 2017-08-11 03:30:00
18       426        527  ... 2017-09-12 03:30:00 2018-02-06 04:30:00
19       427        527  ... 2017-09-13 03:30:00 2018-02-06 04:30:00
20       428        527  ... 2017-09-14 03:30:00 2018-02-06 04:30:00
21       594        626  ... 2018-05-14 03:30:00 2018-06-28 03:30:00
22       595        626  ... 2018-05-15 03:30:00 2018-06-28 03:30:00
23       600        626  ... 2018-05-22 03:30:00 2018-06-28 03:30:00
24       636        698  ... 2018-07-13 03:30:00 2018-10-10 03:30:00
25       637        698  ... 2018-07-16 03:30:00 2018-10-10 03:30:00
26       639        698  ... 2018-07-18 03:30:00 2018-10-10 03:30:00
27       775        844  ... 2019-01-31 04:30:00 2019-05-10 03:30:00
28       776        844  ... 2019-02-01 04:30:00 2019-05-10 03:30:00
29       778        844  ... 2019-02-05 04:30:00 2019-05-10 03:30:00
30       873        902  ... 2019-06-21 03:30:00 2019-08-02 03:30:00
31       880        902  ... 2019-07-02 03:30:00 2019-08-02 03:30:00
32       881        902  ... 2019-07-03 03:30:00 2019-08-02 03:30:00
33       962       1028  ... 2019-10-28 03:30:00 2020-02-03 04:30:00
34       963       1028  ... 2019-10-29 03:30:00 2020-02-03 04:30:00
35       965       1028  ... 2019-10-31 03:30:00 2020-02-03 04:30:00
36      1031       1043  ... 2020-02-06 04:30:00 2020-02-25 04:30:00
37      1032       1043  ... 2020-02-07 04:30:00 2020-02-25 04:30:00
38      1034       1043  ... 2020-02-11 04:30:00 2020-02-25 04:30:00
39      1089       1180  ... 2020-04-30 03:30:00 2020-09-09 03:30:00
40      1104       1180  ... 2020-05-21 03:30:00 2020-09-09 03:30:00
41      1107       1180  ... 2020-05-27 03:30:00 2020-09-09 03:30:00
42      1224       1302  ... 2020-11-10 04:30:00 2021-03-05 04:30:00
43      1226       1302  ... 2020-11-12 04:30:00 2021-03-05 04:30:00
44      1228       1302  ... 2020-11-16 04:30:00 2021-03-05 04:30:00
45      1308       1351  ... 2021-03-15 03:30:00 2021-05-13 03:30:00
46      1309       1351  ... 2021-03-16 03:30:00 2021-05-13 03:30:00
47      1310       1351  ... 2021-03-17 03:30:00 2021-05-13 03:30:00
48      1367       1377  ... 2021-06-07 03:30:00 2021-06-21 03:30:00
49      1371       1377  ... 2021-06-11 03:30:00 2021-06-21 03:30:00
50      1372       1377  ... 2021-06-14 03:30:00 2021-06-21 03:30:00
51      1381       1441  ... 2021-06-25 03:30:00 2021-09-21 03:30:00
52      1382       1441  ... 2021-06-28 03:30:00 2021-09-21 03:30:00
53      1383       1441  ... 2021-06-29 03:30:00 2021-09-21 03:30:00
54      1464       1492  ... 2021-10-22 03:30:00 2021-12-02 04:30:00
55      1466       1492  ... 2021-10-26 03:30:00 2021-12-02 04:30:00
56      1469       1492  ... 2021-10-29 03:30:00 2021-12-02 04:30:00

[57 rows x 10 columns]

In [101]:
np.where(priceDF["Datetime"].dt.strftime("%Y-%m-%d") == "2018-01-26")

(array([520]),)